body{
    background-color: grey;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.header{
  
    text-align: center;
    background-color: rgb(9, 9, 95);
    color: whitesmoke;
    padding: 8px;
}
h1{
    margin: 0;
}
.main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 8px;
    
    
}.movie{
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid white;
    width: 20%;
    margin: 10px;
   
}
.movie img{
    height: 200px;
    width: 100%;
}